.contentSpaceBetween {
  display: flex;
  justify-content: space-between;
}

.telAddsForm {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.textFieldRowStack {
  display: flex;
  flex-direction: row;
  column-gap: 20px;
}

.tabStyle {
  width: auto;
}
